body{
    font-family: Helvetica, sans-serif;
}
h1{
    color:red;
    background-color: black;
}
h2{
    background-color: rgb(160, 238, 179);
    color: green;
}
p{
    background-color: yellow;
    color: blue;
}
a{
    background-color: yellowgreen;
    color: pink;
}

/*
div{
    background-color: #f01;
}
*/

/*
la forma correcta en la cual enlazamos un id 
en css es usando el #
*/

/*
un id se usa cuando se tiene un estilo especifico para
un solo elemento
*/
/*
Para poder compartir estilos debemos usar 'class'
*/
#contenedor-uno{
    background-color: #09a;
}

/*
real al contenerdor-dos poner un fondo amarillo
*/

#contenedor-dos{
    background-color: yellow;
}

.contenedor-principal {
    background-color: violet;
}