body {
  font-family: Helvetica, sans-serif;
}
h1 {
  color: red;
  background-color: black;
}
h2 {
  background-color: rgb(160, 238, 179);
  color: green;
}
/*
p {
  background-color: yellow;
  color: blue;
}
*/
a {
  background-color: yellowgreen;
  color: pink;
}

/*
div{
    background-color: #f01;
}
*/

/*
la forma correcta en la cual enlazamos un id 
en css es usando el #
*/

/*
un id se usa cuando se tiene un estilo especifico para
un solo elemento
*/
/*
Para poder compartir estilos debemos usar 'class'
*/
#contenedor-uno {
  background-color: #09a;
}

/*
real al contenerdor-dos poner un fondo amarillo
*/

#contenedor-dos {
  background-color: yellow;
}

.contenedor-principal {
  background-color: violet;
  padding: 30px;
}

.btn-ingresar {
  background-color: rgb(14, 139, 255);
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.btn-registro {
  font-size: 25px;
  background-color: red;
}

.contenedor-form {
  border: 3px solid rgb(255, 136, 0);
  border-radius: 8px;
}

.contenedor-interno-form {
  padding: 20px;
  text-align: center;
}

.titulo-form {
  color: rgb(14, 139, 255);
  background-color: #fff;
}

.input-form{
    padding: 10px;
    border-radius: 8px;
    border: 1px #000 solid;
    width: 400px;
}

.input-codigo{
    width: 100px;
}

.input-codigo2{
    width: 275px;
}

.btn-crear-usuario {
    background-color: rgb(248,156,35);
    color: #000;
    padding: 8px;
    border-radius: 6px;
    border: none;
}

.btn-contenedor{
    text-align: center;
}

/*
PseudoCLases

los elementos tienen propiedades internas por ejemplo
el hover.

hover: es la propiedad que detecta cuando el mouse
esta sobre el hover
*/
.btn-crear-usuario:hover {
    background-color: rgb(17, 133, 52);
}


.btn-ingresar:hover{
    background-color: red;
    color: black;
    text-decoration: none;
    padding: 50px;
}
/*
div:hover{
  background-color: red;
}

.contenedor-interno-form p:first-child{
  border: 2px solid red;
}
*/

.contenedor-interno-form h1{
  border: 2px solid #000;
}

h1:first-child{
  color: purple;
}

input:first-of-type{
  color: red;
}

h2:nth-child(0){
  color: black;
}

/*
.contenedor-interno-form p:nth-child(2){
  border: 1px red solid;
}
*/
